/* Base Typography*/
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.m0-auto {
  margin: 0 auto;
}

@keyframes bars-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btn {
  border: none;
  padding: 12px;
  cursor: pointer;
  background: none;
  margin-right: 5px;
  margin-left: 5px;
}

.primary-btn {
  background: #2ab7ca;
  color: #fff;
  transition: 0.3s;
}
.primary-btn:hover {
  background: #77d1dd;
}
.primary-btn:focus {
  background: #bababa;
}

.large-btn {
  width: 100%;
  margin: 14px 0;
}

footer {
  padding: 50px 0;
  color: #fff;
  background-color: #221d23;
  font-family: "Open Sans", sans-serif;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .footer-links, footer .container .footer-rights {
  padding: 20px 10px;
}
footer a {
  color: #fff;
  padding: 5px;
  transition: 0.3s;
}
footer a:hover {
  color: #ee9480;
}

@media (max-width: 768px) {
  footer .container {
    display: block;
    text-align: center;
  }
  footer .container .footer-links {
    display: flex;
    justify-content: space-between;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
}

@media (max-width: 992px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*==========================================================================
*/
.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
main {
  background: url("../img/bg-hero.svg");
  margin-top: 70px;
  height: 130vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
main .container {
  padding-top: 50px;
}
main h2 {
  font-size: 50px;
  font-weight: 700;
  padding: 14px;
}
main p {
  padding: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
}

@media (max-width: 992px) {
  main {
    height: 100vh;
    background-size: contain;
    background-position: right bottom;
  }

  h2 {
    font-size: 45px;
    padding: 12px;
  }
}
.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  float: left;
  padding: 0 2em;
  text-align: left;
  height: auto;
  width: 100%;
}
.nav .nav-logo {
  padding: 10px;
  height: 60px;
  float: left;
}
.nav .nav-menu .nav-menu__navigation {
  float: left;
  margin: 0 30px 0;
}
.nav .nav-menu .nav-menu__navigation a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  clear: right;
  text-decoration: none;
  color: #333745;
  margin: 0 10px;
  line-height: 70px;
  transition: 0.3s;
}
.nav .nav-menu .nav-menu__navigation a:hover {
  color: #ee9480;
}
.nav .nav-menu .nav-menu__buttons {
  float: right;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  transition: 0.3s;
}
.nav label:hover {
  color: #ee9480;
}

#menu {
  display: none;
}

@media (max-width: 992px) {
  .nav label {
    display: block;
    cursor: pointer;
  }
  .nav .nav-menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .nav .nav-menu .nav-menu__navigation {
    float: initial;
  }
  .nav .nav-menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  .nav .nav-menu .nav-menu__buttons {
    float: initial;
  }
  .nav #menu:checked + .nav-menu {
    display: block;
  }
}
.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  float: left;
  padding: 0 2em;
  text-align: left;
  height: auto;
  width: 100%;
}
.nav .nav-logo {
  padding: 10px;
  height: 60px;
  float: left;
}
.nav .nav-menu .nav-menu__navigation {
  float: left;
  margin: 0 30px 0;
}
.nav .nav-menu .nav-menu__navigation a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  clear: right;
  text-decoration: none;
  color: #333745;
  margin: 0 10px;
  line-height: 70px;
  transition: 0.3s;
}
.nav .nav-menu .nav-menu__navigation a:hover {
  color: #ee9480;
}
.nav .nav-menu .nav-menu__buttons {
  float: right;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  transition: 0.3s;
}
.nav label:hover {
  color: #ee9480;
}

#menu {
  display: none;
}

@media (max-width: 992px) {
  .nav label {
    display: block;
    cursor: pointer;
  }
  .nav .nav-menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .nav .nav-menu .nav-menu__navigation {
    float: initial;
  }
  .nav .nav-menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  .nav .nav-menu .nav-menu__buttons {
    float: initial;
  }
  .nav #menu:checked + .nav-menu {
    display: block;
  }
}
section {
  min-height: 80vh;
}
section h2 {
  font-size: 30px;
  text-align: center;
  padding: 14px 0;
}
section .featured-bars {
  width: 100%;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  opacity: 0;
  animation-name: bars-opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
section .featured-bars img {
  width: 80%;
  height: auto;
  padding: 14px;
}
section .featured-info {
  padding: 30px;
}
section .featured-info .featured-info__title {
  text-align: left;
}
section .featured-info .featured-info__content {
  padding: 12px 0;
  width: 70%;
  line-height: 30px;
}

section.prices {
  min-height: 120vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/bg-price.png");
  background-size: cover;
}
section.prices h2 {
  color: white;
}
section.prices .price-content {
  display: flex;
  background-color: #333745;
}
section.prices .price-content .prices-card {
  background: #fff;
  min-height: 470px;
  min-width: 250px;
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  transition: 0.3s;
}
section.prices .price-content .prices-card:hover {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}
section.prices .price-content .prices-card .prices-card__content h3 {
  font-size: 20px;
  font-weight: 400;
}
section.prices .price-content .prices-card .prices-card__content h4 {
  font-size: 35px;
  font-weight: 700;
  padding: 20px 0;
}
section.prices .price-content .prices-card .prices-card__content ul {
  list-style: disc;
  margin: 20px;
}
section.prices .price-content .prices-card .prices-card__content li {
  padding: 12px;
  font-size: 14px;
}

@media (max-width: 992px) {
  section .featured-bars {
    justify-content: center;
  }
  section .featured-info .featured-info__title {
    text-align: center;
  }
  section .featured-info .featured-info__content {
    width: 100%;
  }
}
@media (max-width: 992px) {
  section.prices {
    background-size: contain;
  }
  section.prices .prices-title {
    margin-top: 8em;
  }
}

/*# sourceMappingURL=main.css.map */
